body{
  background: rgb(42,32,9);
  background: linear-gradient(137deg, rgba(42,32,9,1) 7%, rgba(106,72,6,1) 92%);

}

.App {
  text-align: center;

}

.Navbar {

  color: rgb(42,32,9);
  background-color: white;

}

